body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  background-color: rgb(34, 40, 49);
  top: 0;
  overflow: clip;
}

#titulo {
  background-color: rgb(240, 84, 84);
  text-align: center;
  height: auto;
  margin: 0;
  border: 5px solid rgb(34, 40, 49);
  font-size: 40px;
  color: rgb(34, 40, 49);
  font-family: Courier, monospace;
  font-weight: 200;
}

#minha_foto {
  display: block;
  max-width: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  background-color: rgb(34, 40, 49);
  padding: 5px;
}

#lista-navegar {
  background-color: rgb(240, 84, 84);
  padding: 10px;
  margin-top: 0;
  margin-bottom: 40px;
  border-left: 5px solid rgb(34, 40, 49);
  border-right: 5px solid rgb(34, 40, 49);
  border-bottom: 5px solid rgb(34, 40, 49);
}

.nav {
  display: inline-block;
  margin-left: 10px;
  font-size: 25px;
}

#licoes_aprendidas {
  display: inline-block;
}

#licoes_a_aprender {
  display: inline-block;
  margin-left: 50px;
}

#listas {
  background-color: rgb(221, 221, 221);
  border: 5px solid rgb(34, 40, 49);
  max-width: 40%;
  margin-left: 28%;
  margin-top: 60px;
}

#rodape {
  text-align: center;
}

article {
  background-color: rgb(221, 221, 221);
  border: 5px solid rgb(34, 40, 49);
  max-width: 40%;
  margin-left: 28%;
  margin-top: 5px;
  text-align: justify;
}

aside {
  background-color: rgb(221, 221, 221);
  border: 5px solid rgb(34, 40, 49);
  max-width: 40%;
  margin-left: 28%;
  margin-top: 5px;
}
